body {
  background-color: oldlace;
}

header {
  width: 92%;
  height: 50px;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header select {
  width: 45%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-indent: 10%;
  padding: 0px;
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  box-shadow: none;
  outline: none;
  vertical-align: middle;
}

/* header button {
  width: 45%;
  height: 50px;
  float: right;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px;
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
} */

div.categories {
  position: relative;
  padding-top: 80px;
}

/* .categories button {
  margin: 10px;
  width: 125px;
  height: 25px;
  display: block;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  transition-duration: 250ms;
  transition-property: background, font-size, width, height;
  transition-timing-function: cubic-bezier(0.38, 1.29, 1, 1.4);
  cursor: pointer;
} */

table {

}

li {
  display: inline;
}