body {
  background-color: oldlace;
}

div.categories {

}

button {
  margin: 10px;
  display: block;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  transition-duration: 250ms;
  transition-property: background, font-size;
  transition-timing-function: cubic-bezier(0.38, 1.29, 1, 1.4);
  cursor: pointer;
}

button:hover {
  background: red;
  font-size: 18px;
}